{% extends "base.html" %}
{% load static %}


{% block title %}A Propos{% endblock title %}



{% block content %}


<div class="container my-5 gbl-div-about">

    <div class='about-div'>
        <p>L'objective de notre association et de  favoriser les échanges économiques et culturels entre France et de l’Algérie. </p>
        <p>L’association est ouverte aux chefs d’entreprise, étudiants, à des personnes en phase de création d’entreprise ou disposant d’une expérience d’entrepreneur, ou toutes personnes intervenant dans les échanges d’affaires et culturels entre la France et l’Algérie.</p>
    </div>
    <div class="about-objective">
        <h2>objectifs de l’association </h2>
        <ul class="objective-list">
            <li>Encourager et faciliter les interactions entre les membres de l'organisation, en mettant l'accent sur le développement de synergies et un environnement convivial. Cela implique l'organisation d'événements tels que des conférences, des soirées, des formations, des salons, des foires et des forums en France et en Algérie.</li>
            <li>Favoriser le partage des meilleures pratiques dans divers secteurs professionnels en organisant des ateliers et des rencontres sur des sujets pertinents pour les membres, afin de stimuler l'apprentissage et la croissance mutuelle.</li>
            <li>Encourager la collaboration et la mutualisation des ressources entre les membres, les incitant à travailler ensemble tout en conservant leur responsabilité individuelle.</li>
            <li>Faciliter les opportunités d'affaires en mettant en relation les membres sans attendre de rétributions en retour, afin de stimuler les échanges commerciaux et les partenariats.</li>
            <li>Diffuser activement des informations pertinentes aux membres pour soutenir et développer leurs activités respectives.</li>
            <li>
                Servir de lien entre les entreprises et les organismes publics, comme les municipalités, les communautés d'agglomération, les départements, les régions, ainsi que d'autres acteurs économiques, pour favoriser la coopération et les initiatives économiques entre la France et l'Algérie.
            </li>
        </ul>
    </div>

    <div class="">
        <p>Le Club EFA, par le biais de son réseau et de ses initiatives, promeut activement les échanges internationaux et contribue à renforcer les liens entre la France et l'Algérie. Son engagement se manifeste par la création d'entreprises et le soutien au développement économique des régions concernées. L'association affirme son caractère apolitique et laïque, mettant ainsi l'accent sur son engagement économique sans affiliations politiques et en respectant la diversité des convictions de ses membres.</p>
    </div>

</div>

{% endblock content %}