
<div class="email-div">

    <div class="content-email" style="background-color: #bfbfbf;border-radius: 5px;border: 2px solid #bfbfbf ;text-align: center;margin: 0 auto; font-size: 1.5rem; width:100%">
        Bonjour <strong>{{ nom }}</strong>,<br><br>

        Nous avons Bien recu votre inscription pour une raison social de <strong>{{ raison_sociel }}</strong> dont vontre secteur d'activité est <strong>{{ secteur_activite }}</strong>.
        Nous allons vous appeler a ceux numero <strong>{{ telephone }}</strong> pour la reservation d'une place dans notre evenement, Merci de Bien vouloir repondre a notre apple.
        les numero qui vont vous appeler sont : <br>
        <strong><i>+213 770 70 70 70</i></strong>
        ou bien : <br>
        <strong><i>+213 660 60 60 60</i></strong>
        Merci de bien vouloir accepté nous salutation destingué !! 
    </div>
</div>


